* @segnities007

/.github/ @segnities007
/.github/ISSUE_TEMPLATE/ @segnities007
/.github/PULL_REQUEST_TEMPLATE.md @segnities007
/.github/workflows/ @segnities007
/README.md @segnities007
/CHANGELOG.md @segnities007
/CONTRIBUTING.md @segnities007
/CODE_OF_CONDUCT.md @segnities007
/SECURITY.md @segnities007
/SUPPORT.md @segnities007
/guideline/ @segnities007
/build-logic/ @segnities007
/modules/ @segnities007
/docs/ @segnities007
/docs/architecture/decisions/ @segnities007
